{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'book_create' %}">Book Create</a></li>
{% endblock %}

{% block content %}
    <h1 class="my-3">Гостевая книга!!</h1>
     <form class="form-inline my-2 my-lg-0" action="{% url 'filter_name'%}" method="GET" name="search">
            <input class="form-control mr-sm-2 ml-3" type="text" placeholder="Search" name="search">
            <input type="submit" value="Search" class="btn btn-outline-success my-2 my-sm-0">
     </form>
    <div class="row">
    {% for book in books %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-3">
                <div class="card">
                     <div class="card-body" >
                         <h2 class ="card-text card-link">Имя: {{ book.author}} </h2>
                         <p class="card-text">Email: {{ book.email }}</p>
                         <p class="card-text">Статус: {{ book.get_status_display}}</p>
                         <p class="card-text">Текст: {{ book.text }}</p>
                         <p class="card-text">{{ book.created_at|date:'Y-m-d H:i:s' }}</p>
                         <p class="card-text">{{ book.updated_at|date:'Y-m-d H:i:s' }}</p>
                         <button class="btn btn-primary"><a href="{% url 'book_update' book.pk %}" style="color: #fffee8" >Edit</a></button>
                         <button class="btn btn-danger"><a href="{% url 'book_delete' book.pk %}" style="color: #fffee8" >Delete</a></button>
                    </div>
                </div>
            </div>
    {% endfor %}
    
    </div>
{% endblock %}